.page {
  min-width: 100%;
  background-color: #2A2C2F;
  color: #fff;
  margin: 0;
  height: fit-content;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page {
    min-width: 100%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page {
    min-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    min-width: 100%;
  }
}

