.cover__subtitle {
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  width: 360px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    width: 360px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    width: 288px;
  }
}

