.intro {
  width: 984px;
  margin: auto;
  padding-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    width: 928px;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 720px;
    object-fit: contain;
    padding-top: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    width: 288px;
    object-fit: contain;
    padding-top: 64px;
  }
}
