.place__link {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  justify-self: end;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  cursor: pointer;
}

.place__link:link {
  transition: opacity .3s linear;
}
.place__link:hover {
  opacity: .8;
}
