.lead__images {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__images {
    max-width: 928px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__images {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__images {
    max-width: 100%;
  }
}
