.cover__background {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../../images/cover-trains.jpg);
  height: 740px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;

}

.cover__background:hover {
  opacity: .8;
}

.cover__background:link {
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .cover__background {
  box-sizing: border-box;
  margin: 0 auto;
  background-size: cover;
  height: 640px;
  width: 1184px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__background {
  box-sizing: border-box;
  margin: 0 auto;
  background-size: cover;
  height: 640px;
  width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    height: 480px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__background {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

