.place {
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  row-gap: 48px;
  width: 984px;
  margin: 0 auto 80px;
}

.place:last-child {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    width: 928px;
    grid-template-columns: 440px 456px;
    column-gap: 32px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    width: 720px;
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin: 0 auto 50px;
  }

  .place:last-child {
    margin: 0 auto;
  }
}
